<div id="<%= dom_id bus_line %>">
  <p>
    <strong>Name:</strong>
    <%= bus_line.name %>
  </p>

  <p>
    <strong>Stops:</strong>
    <%= bus_line.stops %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= bus_line.time %>
  </p>

</div>
